/* Portrait layout (default) */
.cordova-container {
    background: url(images/logo.png) no-repeat center center;
    height: 250px;
    width: 200px;
    text-align: center;
    margin: auto;
    padding-top: 1px;
    overflow: hidden;
    /*padding:180 0 0 0; image height is 200 (bottom 20 are overlapped with text) */
    /* margin:-115px 0 0 -112px;  offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

#deviceready {
    margin-bottom: 30px;
}

.event {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 10px;
    padding: 10px 5px;
    text-align: center;
    width: 170px;
}

.event.listening{
    background-color: #333333;
    display:block;
}

.event.received{
    background-color:#4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}