<div jqm-page>
    <!-- Header -->
    <div jqm-header>
    <div icon="ui-icon-flat-man" jqm-theme="f" class = "ui-btn-left" jqm-button ng-click="$root.panel='left'">YourThings!</div>
      <h1>'Allo, 'Allo!!</h1>
    </div>
    <!-- Recepie List-->
    <div class="" style="top:138px; width: 90%; margin: auto;">
            <ul jqm-listview class="ui-listview" inset="true">
                <li jqm-li-divider jqm-theme="a"><center>Hybrid</center></li>
                <li jqm-li-entry style="padding-bottom: 0px;">
                    <div class="cordova-container">
                        <div ui-service-availible is-availible="cordovaReady"></div>
                    </div>
                </li>
                <li jqm-li-divider jqm-theme="a">
                    <center>Awesomeness</center>
                </li>
            </ul>
            <ul jqm-listview class="ui-listview" inset="true">
                <li jqm-li-entry style="padding: 30px;" jqm-theme="b">
                    <center><p>Thanks for starting!</p> <p>{{welcome}}</p></center>
                </li>
            </ul>              
    </div>
</div>